<div *ngIf="animate">
    <div class="lds-css ng-scope">
        <div class="lds-cube">
            <!-- Top left -->
            <div></div>
            <!-- Top middle -->
            <div></div>
            <!-- Top right-->
            <div></div>
            <!-- Middle left -->
            <div></div>
            <!-- Middle middle (:/) -->
            <div></div>
            <!-- Middle right -->
            <div></div>
            <!-- Bottom left -->
            <div></div>
            <!-- Bottom middle -->
            <div></div>
            <!-- Bottom right -->
            <div></div>
        </div>
    </div>
</div>