<div *ngIf="animate">
    <div class="lds-css ng-scope">
        <div class="lds-cube">
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>
            <div [style.background]="colorEven" [ngStyle]="getStyle()"></div>
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>
            <div [style.background]="colorEven" [ngStyle]="getStyle()"></div>
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>
            <div [style.background]="colorEven" [ngStyle]="getStyle()"></div>
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>
            <div [style.background]="colorEven" [ngStyle]="getStyle()"></div>
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>
        </div>
    </div>
</div>
