<div *ngIf="animate">
    <div class="lds-css ng-scope">
        <div class="lds-cube">
            <!-- Top left -->
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>

            <!-- Top middle -->
            <div [style.background]="colorEven" [ngStyle]="getStyle()"></div>

            <!-- Top right-->
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>

            <!-- Middle left -->
            <div [style.background]="colorEven" [ngStyle]="getStyle()"></div>

            <!-- Middle middle -->
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>

            <!-- Middle right -->
            <div [style.background]="colorEven" [ngStyle]="getStyle()"></div>

            <!-- Bottom left -->
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>

            <!-- Bottom middle -->
            <div [style.background]="colorEven" [ngStyle]="getStyle()"></div>

            <!-- Bottom right -->
            <div [style.background]="colorOdd" [ngStyle]="getStyle()"></div>
        </div>
    </div>
</div>